# add for board init.rc for recovery mode
on fs
    start load_modules

service load_modules /sbin/load_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
